{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Boxplot Charts {% endblock title %}

{% block horizontal %}
    {% include "partials/horizontal.html" with pagetitle="Charts" title="Boxplot Charts" %}
{% endblock horizontal %}
        
{% block content %}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header justify-content-between d-flex align-items-center">
                                <h4 class="card-title">Basic Box Chart</h4>
                                </div><!-- end card header --> 
                            <div class="card-body">                                        
                                <div id="basic_box" data-colors='["--bs-primary", "--bs-info"]' class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div><!-- end col -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header justify-content-between d-flex align-items-center">
                                <h4 class="card-title">Boxplot with Scatter Chart</h4>
                                </div><!-- end card header --> 
                            <div class="card-body">                                        
                                <div id="box_plot" data-colors='["--bs-danger", "--bs-info", "--bs-danger", "--bs-primary"]' class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div><!-- end col -->
                </div><!-- end row -->          
{% endblock content %}
                        
{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- boxplotcharts init -->
    <script src="{% static 'js/pages/apexcharts-boxplot.init.js' %}"></script>

{% endblock extra_js %}        
