{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Polar Area Charts {% endblock title %}

{% block horizontal %}
    {% include "partials/horizontal.html" with pagetitle="Charts" title="Polar Area Charts" %}
{% endblock horizontal %}
        
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Basic-Polar Area Chart</h4>
             </div><!-- end card header --> 
            <div class="card-body">                                        
                <div id="basic_polar_area" data-colors='["--bs-primary", "--bs-success", "--bs-warning","--bs-danger", "--bs-info", "--bs-success", "--bs-primary", "--bs-dark", "--bs-secondary"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Polar-Area Monochrome</h4>
             </div><!-- end card header --> 
            <div class="card-body">                                        
                <div id="monochrome_polar_area" data-colors='["--bs-primary"]' class="apex-charts" dir="ltr"></div> 
            </div>
        </div><!--end card-->
    </div><!-- end col -->
</div><!-- end row -->
    
{% endblock content %}
        
{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- scatter charts init -->
    <script src="{% static 'js/pages/apexcharts-polararea.init.js' %}"></script>

{% endblock extra_js %}
      