{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Candlestick Charts {% endblock title %}

{% block horizontal %}
    {% include "partials/horizontal.html" with pagetitle="Charts" title="Candlestick Charts" %}
{% endblock horizontal %}
        
{% block content %}

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Basic Candlestick Chart</h4>
                                     </div><!-- end card header --> 
                                    <div class="card-body">                                        
                                        <div id="basic_candlestick" data-colors='["--bs-success", "--bs-danger"]' class="apex-charts" dir="ltr"></div>
                                    </div>
                                </div><!--end card-->
                            </div><!-- end col -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Candlestick Synced with Brush Chart (Combo)</h4>
                                     </div><!-- end card header --> 
                                    <div class="card-body">                                        
                                        <div id="combo_candlestick"  data-colors='["--bs-info", "--bs-danger"]' class="apex-charts" dir="ltr"></div>
                                        <div id="combo_candlestick_chart" data-colors='["--bs-warning", "--bs-danger"]' class="apex-charts" dir="ltr"></div>
                                    </div>
                                </div><!--end card-->
                            </div><!-- end col -->
                        </div><!-- end row -->
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Category X-Axis</h4>
                                     </div><!-- end card header --> 
                                    <div class="card-body">                                        
                                        <div id="category_candlestick" data-colors='["--bs-success", "--bs-danger"]' class="apex-charts" dir="ltr"></div>
                                    </div>
                                </div><!--end card-->
                            </div><!-- end col -->
                            
                        </div><!-- end row -->
{% endblock content %}

{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    
    <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
    <!-- for Category x-axis chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.17/dayjs.min.js"></script>
    
    <!-- candlestick charts init -->
    <script src="{% static 'js/pages/apexcharts-candlestick.init.js' %}"></script>

{% endblock extra_js %}
       