{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Scatter Charts {% endblock title %}

{% block horizontal %}
    {% include "partials/horizontal.html" with pagetitle="Charts" title="Scatter Charts" %}
{% endblock horizontal %}
        
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Basic Scatter Chart</h4>
                </div><!-- end card header --> 
                <div class="card-body">                                        
                    <div id="basic_scatter" data-colors='["--bs-primary", "--bs-success", "--bs-warning"]' class="apex-charts" dir="ltr"></div>
                </div>
            </div><!--end card-->
        </div><!-- end col -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Scatter - Datetime Chart</h4>
                </div><!-- end card header --> 
                <div class="card-body">                                        
                    <div id="datetime_scatter" data-colors='["--bs-primary", "--bs-success", "--bs-warning", "--bs-warning", "--bs-info"]' class="apex-charts" dir="ltr"></div>
                </div><!-- end cardbody -->
            </div><!--end card-->
        </div><!-- end col -->
    </div><!-- end row --> 

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Scatter Images Chart</h4>
                </div><!-- end card header --> 
                <div class="card-body">                                        
                    <div id="images_scatter" data-colors='["--bs-primary", "--bs-danger"]' class="apex-charts" dir="ltr"></div>
                </div><!-- end cardbody -->
            </div><!--end card-->
        </div><!-- end col -->                                                                                                                                                                   
    </div><!-- end row --> 
    
{% endblock content %}
        
{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- scatter charts init -->
    <script src="{% static 'js/pages/apexcharts-scatter.init.js' %}"></script>

{% endblock extra_js %}
      