{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Notifications {% endblock title %} 

{% block extra_css %}

    <!-- alertifyjs Css -->
    <link href="{% static 'libs/alertifyjs/build/css/alertify.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- alertifyjs default themes  Css -->
    <link href="{% static 'libs/alertifyjs/build/css/themes/default.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}

{% block horizontal %}
    {% include "partials/horizontal.html" with pagetitle="Extended UI" title="Notifications" %}
{% endblock horizontal %}

{% block content %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Default Notifications</h4>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td>Default alert</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-message" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Success alert</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-success" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Error alert</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-error" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Warning alert</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-warning" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr> 
                                                </tbody><!-- end tbody -->
                                            </table><!-- end table -->
                                        </div><!-- end table responsive -->
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Default Dialogs</h4>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td>Alert</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Confirm</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-confirm" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Prompt</td>
                                                        <td class="text-end"><a href="javascript: void(0);"  id="alert-prompt" class="btn btn-primary btn-sm">Click me</a></td>
                                                    </tr>
                                                </tbody><!-- end tbody -->
                                            </table><!-- end table -->
                                        </div><!-- end table responsive -->
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->                            
                        </div><!-- end row -->
{% endblock content %}
                  
{% block extra_js %}

    <!-- alertifyjs js -->
    <script src="{% static 'libs/alertifyjs/build/alertify.min.js' %}"></script>
    <!-- notification init -->
    <script src="{% static 'js/pages/notification.init.js' %}"></script>

{% endblock extra_js %}
      